# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
*.codelite/
*.pbxuser
*.xcscheme
*.xccheckout
*.xcodeproj
*.pdb
*.sdf
*.opensdf
*.suo
*.exp
*.ilk
*.map
*.build
Build/
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeScripts

# Diff files
*.diff
*.patch
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*

